// colors
$accentColor = #01A3FF
$textColor = #2C3C45
// $borderColor = #eaecef
// $codeBgColor = #282c34
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #FD3F02

// layout
// $navbarHeight = 3.6rem
// $sidebarWidth = 30rem
// $contentWidth = 1300px
// $homePageWidth = 960px

// responsive breakpoints
// $MQNarrow = 959px
// This needs to line up with what postcss is doing...
$MQMobile = 1023px
// $MQMobileNarrow = 419px


